{% extends "base.html" %}
{% block title %} Главная {% endblock %}
{% load crispy_forms_tags %}
{% block content %}
    <p class="h1">ГЛАВНАЯ</p>
{% if calories %}
    <table class="table table-bordered">
        <tbody>
        <thead>
        <tr>
            <th scope="col">Еда</th>
            <th scope="col">Калории</th>
            <th scope="col">Дата и время</th>
        </tr>
        </thead>
        {% for calorie in calories %}
            <tr>
                <td>{{ calorie.food }}</td>
                <td>{{ calorie.qty_calories }}</td>
                <td>{{ calorie.created }}</td>
                <td><a href="#"><button class="btn btn-success">Изменить</button></a></td>
                <td><a href="#"><button class="btn btn-danger">Удалить</button></a></td>
            </tr>
        {% endfor %}

        </tbody>
    </table>
    {% else %}
    <p class="h3">Пожалуйста авторизуйтесь</p>
    {% endif %}
{% endblock %}